.widgetCard {
  border: 0 !important;
  border-radius: 1rem !important;
  height: 250px;
  margin: 0.5rem 0 0;
  position: relative;
  .cardContent {
    .noChartContainer{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // align-items: center;
      .descContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-grow: 1; 
        height: 170px;
        .barChart{
          font-size: 2.5rem;
          color: #AABECD;
        }
        .widgetDesc{
          text-align: center;
          font-weight: 600;
          color: #333;
          opacity: 0.8;
        }
      }
      
    }
    .remove {
      position: absolute;
      top: 0.5rem;
      right: 0.7rem;
      cursor: pointer;
      color: red;
    }
    .widgetName{
      font-weight: 600;
      margin-bottom: auto;
    }

  }
}
